<div class="grid">
  <label for="name" class="mt1 block">
    Environment name
    <input autofocus type="text" id="name" name="name" placeholder="Staging" required>
  </label>

  <label for="ping_url" class="mt1 block">
    Heartbeat URL
    <input type="text" id="ping_url" name="ping_url" placeholder="https://myservice.com:8080" required>
  </label>

  <label for="link_url" class="mt1 block">
    Human friendly landing page <em>(optional: only needed if different than above)</em>
    <input type="text" id="link_url" name="link_url">
  </label>
</div>

<button type="submit" class="mt3">Create</button>
