<div id="environment-list">
    {% for env in environments -%}
        <div class="environment">
            <span
                class="cursor-pointer delete-environment-icon-container"
                hx-delete="/environment/{{env.id}}"
                hx-target="#environment-list"
                hx-swap="outerHTML"
            >
                <i data-feather="minus-square" height="16" width="16" class="del"></i>
            </span>
            <a
                href="{% if env.link_url %}{{env.link_url}}{% else %}{{env.ping_url}}{% endif %}"
                target="_blank"
            >{{env.name}}</a>:
            <span>{% if env.status %}Up! {% else %} Down! {% endif %}</span>
        </div>
    {% endfor %}
</div>
