<nav class="nav">
  <div class="nav-left">
    <a class="brand bold" href="/">StatusMonitor</a>
    <a href="/about"><i height="18px" width="18px" data-feather="help-circle"></i></a>
  </div>

  <div class="nav-right">
    <button class="hide-light button clear" onClick="setAndSaveTheme('light')">
      <i style="color: var(--color-yellow)" data-feather="moon"></i>
    </button>
    <button class="hide-dark button clear" onClick="setAndSaveTheme('dark')">
      <i style="color: var(--color-darkGrey)" data-feather="sun"></i>
    </button>
  </div>
</nav>