{% set num_env = service.environments | length -%} 
{% set num_env_up = service.environments | filter(attribute="status", value=true) | length -%} 
{% set status_style = "bg-success" -%}
{% set status_icon = "smile" -%}
{% if num_env_up == 0 -%}
    {% set status_style = "bg-fail" -%}
    {% set status_icon = "frown" -%}
{% elif num_env > num_env_up -%}
    {% set status_style = "bg-caution" -%}
    {% set status_icon = "meh" -%}
{% endif -%} 

{% set display_env_num = 4 -%}
{% set env_not_shown_num = 0 -%}
{% if num_env > 4 -%}
    {% set display_env_num = 3 -%}
    {% set env_not_shown_num = num_env - 3 -%}
{% endif -%} 



<a
    class="{{status_style}} service-list-item"
    href="service/{{service.id}}"
>
    <h4>{{ service.name }}</h4>
    <div class="flex">
        <i
            style="height: 80px; width: 80px;"
            class="flex-none mb1"
            data-feather="{{ status_icon }}">
        </i>
        <div class="environments overflow-auto">
            {% for env in service.environments | slice(end=display_env_num) %}
                <div class="{% if env.status %}bg-success{% else %}bg-fail{% endif %} flex items-center px1">
                    <i
                        style="height: 1.2em; width: 1.2em"
                        class="mr1 flex-none"
                        data-feather="{% if env.status %}thumbs-up{% else %}thumbs-down{% endif %}">
                    </i>
                    <span>{{env.name}}</span>
                </div>
            {% endfor %}
            {% if env_not_shown_num > 0 -%}
                <div>... {{env_not_shown_num}} more</div>
            {% elif num_env == 0 -%}
                <div>No environments!</div>
            {% endif -%} 
        </div>
    </div>
</a>
