<span class="right">
    <a
        class="del cursor-pointer"
        data-tooltip="Delete Service"
        hx-delete="/service/{{id}}"
    ><i data-feather="trash"></i></a>
    <a
        class="ml1"
        href="{{repository_url}}"
        data-tooltip="View code"
        target="_blank"
    ><i data-feather="code"></i></a>
    <a
        class="ml1"
        href="/service/{{id}}/edit"
        data-tooltip="Edit Service"
    ><i data-feather="edit"></i></a>
</span>

<hgroup>
    <h1>{{name}}</h1>
    <h4>{{description}}</h4>
</hgroup>

<div class="flex items-center">
    <h5 class="m0 inline-block">Environments</h5>
    <span
        class="ml2 cursor-pointer"
        hx-get="/partials/environment/create"
        hx-target="#create-environment-form"
    >
        <i data-feather="plus-square" class="ins" height="25px" width="25px"></i>
    </span>
</div>

<div hx-ext="sse" sse-connect="/connect">
    <div hx-trigger="sse:{{id}}_changed" hx-get="/partials/service/{{id}}/environments">
        {% include "partials/environment_list.html" %}
    </div>
</div>
    
<form
    id="create-environment-form"
    hx-target="main"
    hx-post="{{id}}/environment"
>
</form>
