:root {
  --bg-color: #f8f8f8;
  --bg-light-color: #e8e8e8;
  --color-yellow: #f7ca88; 
  --color-green: #a1b56c;
  --color-red: #ba524f;
  --bg-green: var(--color-green);
  --bg-red: var(--color-red);
  --bg-yellow: var(--color-yellow);
  --color-primary: #dc9656;
  --font-color: #181818;
}

[data-theme="dark"] {
  --bg-color: #181818;
  --bg-light-color: #282828;
  --bg-secondary-color: #131316;
  --font-color: #d8d8d8;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  --bg-green: #4a552b;
  --bg-red: #51211f;
  --bg-yellow: #a7850c;
}


[data-theme="light"] .hide-light {
  display: none;
}

[data-theme="dark"] .hide-dark {
  display: none;
}

.inline-flex {
  display: inline-flex;
}

nav {
  background-color: var(--bg-light-color);
}

/* blanket element styles */
input::placeholder {
  color: var(--color-grey);
}

input, select {
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* utilities */
.bg-success {
  background-color: var(--bg-green) !important;
}

.bg-caution {
  background-color: var(--bg-yellow);
}

.bg-fail {
  background-color: var(--bg-red);
}

.del {
  color: var(--color-red);
}

.ins {
  color: var(--color-green);
}

.cursor-pointer {
  cursor: pointer;
}

/* nav */
@media only screen and (max-width: 600px) {
  .nav .brand {
    font-size: 1.2em;
  }
}

.nav .brand {
  padding-right: 0px;
}

/* Root page service list item style */
.service-list-item {
  display: block;
  width: 240px;
  color: var(--font-color);
  text-decoration: none;
  margin-bottom: 3em;
  position: relative;
}

.service-list-item>h4 {
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 0px;
}

.service-list-item .environments {
  flex-grow: 1;
}

.service-list-item .environments>div>span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hover environment delete icon */
@media only screen and (min-width: 600px) {
  .delete-environment-icon-container>svg {
    display: none;
  }
}

.delete-environment-icon-container {
  width: 16px;
  display: inline-block;
}

.environment:hover .delete-environment-icon-container>svg {
  display: unset;
}

