{% extends "layout.html" %}

{% block title %}About Status Monitor{% endblock title %}

{% block body %}
{% include "partials/navbar.html" %}
<main class="container pt3">
    <p>
        This is a simple web site which displays the health state of web services (website, web app, REST API).
        If the service can't be reached with a simple HTTP request, it's considered "down." Otherwise it's "up."
        A background process continually runs, testing each service.
        This site uses Server-Sent Events to keep your browser updated with the latest status.
        No refreshing is needed, the updates get pushed to you.
        A service is composed of one or more environments.
    </p>
        
    <p>The <a href="https://gitlab.com/freiguy1/status-monitor/-/blob/master/readme.md" target="_blank">readme</a> contains more technical information and motivation.</p>
</main>
{% endblock body %}
