{% extends "layout.html" %}

{% block title %}
{% if id is defined %}Edit {{name}}{% else %}Create Web Service{% endif %}
{% endblock title %}

{% block body %}
{% include "partials/navbar.html" %}
<main class="container pt3">
  <form
    {% if id is defined %}
      hx-put="/service/{{id}}"
    {% else %}
      hx-post=""
    {% endif %}
  >

    <!-- Grid -->
    <div class="row">

      <label for="name" class="col">
        Web service name
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Instagram"
          required
          value="{{ name | default (value = "")}}"
        >
      </label>
      

      <label for="type" class="col">
        Type
        <select id="type" name="type" required>
          <option value="" {% if type_id is not defined %}selected{% endif %}>Select type of thing</option>
          <option value="1" {% if type_id is defined and type_id == 1 %}selected{% endif %}>Website/app</option>
          <option value="2" {% if type_id is defined and type_id == 2 %}selected{% endif %}>Web API</option>
        </select>
      </label>

    </div>

    <label for="description">
      Description
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Social network of photos and videos"
        required
        value="{{ description | default (value = "")}}"
      >
    </label>

    <label for="repository_url">
      Git Repository URL
      <input
        type="text"
        id="repository_url"
        name="repository_url"
        placeholder="https://gitlab.com/freiguy1/status_monitor"
        required
        value="{{ repository_url | default (value = "")}}"
      >
    </label>

    <!-- Button -->
    <button type="submit" class="mt3">
      {% if id is defined %}Save{% else %}Create{% endif %}
    </button>

  </form>
</main>
{% endblock body %}
