{% extends "layout.html" %}

{% block title %}Status Monitor{% endblock title %}

{% block body %}
{% include "partials/navbar.html" %}
<main class="container pt3" hx-ext="sse" sse-connect="/connect">
    <section class="mb3">
        <input
            type="search"
            name="q"
            placeholder="Search services"
            hx-get="partials/services"
            hx-trigger="keyup changed delay:500ms, search"
            hx-target="#services-list"
            value="{{q}}"
        >
    </section>
    <section class="flex justify-around flex-wrap" id="services-list">
        {% include "partials/services.html" %}
    </section>
    <section class="center">
        <a class="button outline inline-flex items-center" href="/service/create">
            <i data-feather="plus"></i>
            <span>Add internet thing</span>
        </a>
    </section>
</main>
{% endblock body %}
