<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Status Monitor{% endblock title %}</title>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    function setTheme(theme) {
      document.documentElement.setAttribute("data-theme", theme);
    }

    const preferredTheme = localStorage.getItem('preferred-theme');
    if (preferredTheme) {
      setTheme(preferredTheme);
    } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      setTheme('dark');
    } else setTheme('light');
  </script>
</head>

<body>
  {% block body %}{% endblock body %}
  <footer class="container pt4">
    <hr />
    <div class="flex justify-between">
    <small>Built with <a href="https://rust-lang.org">rust</a>,
      <a href="https://htmx.org">htmx</a>,
      <a href="https://tera.netlify.app/">tera</a>,
      <a href="https://jenil.github.io/chota">chota</a> and
      <a href="https://basscss.com">basscss</a>
      by <a href="https://ethanfrei.com">Ethan Frei</a>
    </small>
    <a href="https://gitlab.com/freiguy1/status-monitor" target="_blank">
      <i data-feather="gitlab"></i>
    </a>
  </div>
  </footer>
  <script src="https://unpkg.com/htmx.org@1.8.0"></script>
  <script src="https://unpkg.com/htmx.org@1.8.0/dist/ext/sse.js" defer></script>
  <script src="https://unpkg.com/feather-icons@4.29.0"></script>
  <script>
    function setAndSaveTheme(theme) {
      setTheme(theme);
      localStorage.setItem('preferred-theme', theme);
    }

    // upon sse messages, call feather.replace() for icons
    htmx.on("htmx:sseMessage", function (evt) {
      feather.replace();
    });

    htmx.on("htmx:afterSettle", function (evt) {
      feather.replace();
    });

    // htmx.logAll();
    feather.replace();
  </script>
</body>

</html>