{% extends "layout.html" %}

{% block title %}Not Found{% endblock title %}

{% block body %}
{% include "partials/navbar.html" %}
<main class="container">
    <div>Page not found</div>
    <div><a href="/">Back to root</a></div>
</main>
{% endblock body %}
